
GEMINI_API_KEY="AIzaSyAwZT7MuxWlQ8vwKpip4MP7hnFiR1lWsRE"


API_KEY="YOUR_PAID_PROJECT_API_KEY"


OPENAI_API_KEY="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"


APP_URL="https://your-app-url.com"
